<p id="notice"><%= notice %></p>

<h1>Listing Questions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <!-- <th>Question type</th>
      <th>Display order</th>
      <th>Is active</th> -->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.name %></td>
        <td><%= question.description %></td>
       <!--  <td><%#= question.question_type %></td>
        <td><%#= question.display_order %></td>
        <td><%#= question.is_active %></td> -->
        <!-- <td><%#= link_to 'Show', question %></td> -->
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
