<h1>Editing Satish</h1>

<%= render 'form' %>

<%= link_to 'Show', @satish %> |
<%= link_to 'Back', satishes_path %>
SKDshdkasjKA\ASIKAsjskasljsd
sadjksdj

sjdads



<%= link_to 'Show', @satish %> |
<%= link_to 'Back', satishes_path %>


<%= link_to 'Show', @satish %> |
<%= link_to 'Back', satishes_path %>
