<p id="notice"><%= notice %></p>

<h1>Listing Satishes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @satishes.each do |satish| %>
      <tr>
        <td><%= satish.name %></td>
        <td><%= link_to 'Show', satish %></td>
        <td><%= link_to 'Edit', edit_satish_path(satish) %></td>
        <td><%= link_to 'Destroy', satish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Satish', new_satish_path %>
